
body {

    margin: 0px;
}

.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 104, 145);
    font-size: 75px;
    margin: 1% 10% -1% 10%;
 
}

#navbar {
    overflow: hidden;
    background-color: #e1eff5;
  
}

#navbar1 {
    overflow: hidden;
    background-color: #ffffff;
}

#navbar1 a {
    float: left;
    display: block;
    color: rgb(78, 78, 78);
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-size:20px;
}

#navbar a {
    margin-left:40px;
    float: left;
    display: block;
    color: rgb(78, 78, 78);
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
    font-size:15px;
}

#navbar a:hover {
    color: rgb(76, 41, 235);
}

#navbar a:active {
    color: rgb(128, 0, 21);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.column {
    float: left;
    width: 100% !important;
    height: auto !important;
    
    background-color: #00212e;
}

.box {
    width: 100% !important;
    height: auto !important;
    border: none;
    text-align: center;

}

#footer{
    background-color: #b1ced9;
    padding: 15px;
}
